{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
         <div class="col-md-8">  
            <div id="accordion" role="tablist">
    
                <form method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                      ....
                      <div class="mb-3">
                        <label for="Username"  >Username </label>
                        <input type="text" id="Username" name="Username" required>
                    </div>
                    <div class="mb-3">
                        <label for="Userphone"  >Userphone</label>
                        <input type="text"  id="Userphone" name="Userphone" required>
                    </div>
                    <div class="mb-3">
                        <label for="Useraddress"  >Useraddress</label>
                        <input type="text" id="Useraddress" name="Useraddress" required>
                    </div>
    
                   <div class="card-body">
                     <div class="row">
                       <div class="col-md-4 ml-auto mr-auto">
                          <div class="form-group">                                
                             <video id="video" autoplay ></video>                               
                             <canvas id="canvas"  ></canvas>  
                                                          
                       </div>
                 <button id="startbutton1" class="btn btn-outline-secondary btn-sm">Take Photo</button>
                              <script src="{% static 'assets/js/capture.js' %}"></script> 
                            </div>
    
                            .....
                        <div class="img  pull-center" >                                            
                        <img id ="photo1"    alt="The screen capture will appear in this box.">  
                        <input type="hidden"  id="photo" name="photo" > 
                     
                        <button type="submit">Submit</button>               
              </form>
          </div>                
        </div>  
     </div>

{% if error == "no" %}
<script>
alert('Record Saved Successfully');
window.location=("{% url 'adminmain' %}");
</script>
{% endif %}
{% if error == "yes" %}
<script>
alert('Something went wrong, Try Again');
</script>
{% endif %}
</body>
</html>